html,body{
   height:100%;
   width:100%;
 }

.header {
	background:#fff;
	width:500px;
	height:10px;
}



.footer {
	background:#fff;
	width:500px;
	height:60px;
	bottom:0;
	position:absolute;
}

ul {
  margin: 0px auto;
  text-align:center;
  max-width: 700px;
  width: 100%;
  list-style: none;
  font-size: 1px;
}

li {
  position: relative;
  z-index: 0;
  display: inline-block;
  padding: 2px;
  width: 67px;
  border-radius: 5px;
  list-style: none;
  text-align: center;
  font-weight: normal;
  font-size: 40px;
  cursor: pointer;
  background-color:#FFFFCC;
}

li:hover {
  color: #d83c3c;
}

li.active {
  color: #cc99cc;
}

a {
  color: #000000;
  text-decoration: none;
  opacity: .7;
  transition-timing-function: ease-in-out;
  transition-duration: .1s;
  transition-property: color;
  transition-property: opacity;
}

a:hover, a:active, a:focus {
  text-decoration: underline;
  opacity: 1;
}

/* Form wrapper styling */
.form-wrapper {
    position:fixed;
    width: 460px;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
}

/* Form text input */
.form-wrapper input {
    width: 330px;
    height: 40px;
    padding: 10px 5px;
    float: left;    
    font: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;      
}
 
.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
 
.form-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
}
 
.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
}
 
.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
}    
 
/* Form submit button */
.form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    border-radius: 0 3px 3px 0;      
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}   
   
.form-wrapper button:hover{     
    background: #e54040;
}   
   
.form-wrapper button:active,
.form-wrapper button:focus{   
    background: #c42f2f;
    outline: 0;   
}
 
.form-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
}
 
.form-wrapper button:hover:before{
    border-right-color: #e54040;
}
 
.form-wrapper button:focus:before,
.form-wrapper button:active:before{
    border-right-color: #c42f2f;
}      
 
.form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}   

@media(max-width:767px) {
    .form-wrapper {
        width: 300px;
        padding: 8px;
        left: 15%;
        top: 2%;
        background: #fff;
        border-radius: 10px;
    }

    .form-wrapper input {
        width: 224px;
        height: 40px;
        padding: 10px 5px;
        float: left;    
        font: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        border: 0;
        background: #eee;
  
    }

    .form-wrapper button {
        overflow: visible;
        position: relative;
        float: right;
        border: 0;
        padding: 0;
        cursor: pointer;
        height: 40px;
        width: 59.9px;
        font: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        color: #fff;
        text-transform: uppercase;
        background: #d83c3c;
        border-radius: 0 3px 3px 0;      
        text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
    }       
}

#l1 {
    width:48%;
    height:145px;
    padding-bottom:10px;
}

#l2 {
    width:48%;
    height:145px;
    padding-bottom:10px;
}
#l3 {
    width:48%;
    height:145px;
    padding-bottom:10px;
}
#l4 {
    width:48%;
    height:145px;
    padding-bottom:10px;
}

.likedheader {
    margin-top:5px;
}
